<h1>レジメン一覧</h1>
<%= link_to 'レジメン新規登録', new_plan_path %>
<br>
<h3>レジメン一覧</h3>
<div class="plans">
  <% @plans.each do |plan| %>
    <div class="plan">
      <%= link_to "詳細", plan_path(plan.id) %>
      <a>　</a>
      <a class="plan-name"><%= plan.name %></a>
    </div>
  <% end %>
</div>