<%= render 'search' %>

<h3>検索結果</h3>
<div class="plans">
  <% if @results.length != 0 %>
    <% @results.each do |plan| %>
      <div class="plan">
        <ul class="plan-item-lists">
          <li class="plan-name"><%= link_to plan.name, plan_path(plan.id) %></li>
        </ul>
      </div>
    <% end %>
  <% else %>
    該当するレジメンはありません
  <% end %>
</div>